
@keyframes pulse {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        opacity: 0
    }

    10% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    80% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0
    }
}


@keyframes MARKER {
    0% {
        transform: scale(1);
        opacity: .5;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}
