// Font config
$font-config: (
  // thin: (
  //   'Lato',
  //   '../fonts/Lato-Thin',
  //   normal,
  //   100
  // ),
  light: (
    'Lato',
    '../fonts/Lato-Light',
    normal,
    300
  ),
  regular: (
    'Lato',
    '../fonts/Lato-Regular',
    normal,
    400
  ),
  medium: (
    'Lato',
    '../fonts/Lato-Medium',
    normal,
    500
  ),
  // bold: (
  //   'Lato',
  //   '../fonts/Lato-Bold',
  //   normal,
  //   700
  // ),
  heavy: (
    'Lato',
    '../fonts/Lato-Black',
    normal,
    900
  )
);


@each $font, $type in $font-config {
  $font-name: nth($type, 1);
  $font-path: nth($type, 2);
  $font-style: nth($type, 3);
  $font-weight: nth($type, 4);
  @include font-face($font-name, $font-path, $font-style, $font-weight);
}



@font-face {
  font-family: 'SegoePrint';
  src: url('../fonts/SegoePrint.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SegoePrint.woff') format('woff'),
      url('../fonts/SegoePrint.ttf')  format('truetype'),
      url('../fonts/SegoePrint.svg#SegoePrint') format('svg');
  font-weight: normal;
  font-style: normal;
}
