::-moz-selection {}
::selection {}

*, *:after, *:before {box-sizing: border-box;}

//html { height: 100%;}

body {
  font-family: $base-font;
  font-size: 16px;
  color: #fff;

  @media (max-width: 1200px) {
    &.is-menu-open ,
    &.is-projects-open {overflow: hidden !important;}
  }
}


img {
  display: block;
    max-width: 100%;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {margin: 0 0 1em 0;}

h2, .subheading {
  font-size: $h2;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 100;

  @include media-breakpoint-up(md) {
    font-size: $h2*1.7;
  }
  @include media-breakpoint-up(xxl) {
    font-size: $h2*2;
  }
}

p {
  margin: 0 0 1em;
  line-height: 1.4;

  &:last-child {margin: 0;}
}

a, a:hover, a:focus {
  text-decoration: none;
  color: #fff;
  outline: none;
}



// form elements
input, button, select {outline: none !important;}

select {
  background: none;
  border: none;
}

// disable arrow in IE
select::-ms-expand {
    display: none;
}

// label  {font-weight: 400;}

textarea {
  width: 100%!important;
}

// input shadow fix on IOS
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
