@font-face {
  font-family: 'fonticon';
  src:  url('../fonts/fonticon.eot?d89zf4');
  src:  url('../fonts/fonticon.eot?d89zf4#iefix') format('embedded-opentype'),
    url('../fonts/fonticon.ttf?d89zf4') format('truetype'),
    url('../fonts/fonticon.woff?d89zf4') format('woff'),
    url('../fonts/fonticon.svg?d89zf4#fonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fi, [class^="fi-"], [class*=" fi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fonticon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-picture:before {
  content: "\e90d";
}
.fi-play:before {
  content: "\e90f";
}
.fi-zoom-in:before {
  content: "\e90c";
}
.fi-menu:before {
  content: "\e900";
}
.fi-arrow-up:before {
  content: "\e901";
}
.fi-arrow-down:before {
  content: "\e902";
}
.fi-arrow-left:before {
  content: "\e903";
}
.fi-close:before {
  content: "\e904";
}
.fi-mail:before {
  content: "\e905";
}
.fi-arrow-right:before {
  content: "\e906";
}
.fi-pin:before {
  content: "\e907";
}
.fi-instagram:before {
  content: "\e908";
}
.fi-facebook:before {
  content: "\e909";
}
.fi-phone:before {
  content: "\e90a";
}
.fi-youtube:before {
  content: "\e90b";
}
