$base-font: Lato, Arial, sans-serif;

// Colors
$brand-primary: #719f32;
$dark: #1d1d1d;
$dark-transparent: rgba($dark, .5);

// Headings
$h2 : 20px;

// footer width
$footer-width-md-down : 250px;
$footer-width-md-down-landscape : 300px;
$footer-width-md-up : 416px;

// Spacing
$spacer:   10px;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  'half': (
    x: $spacer-x/2,
    y: $spacer-x/2
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 2),
    y: ($spacer-y * 2)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  4: (
    x: ($spacer-x * 4),
    y: ($spacer-y * 4)
  )
);


//Screen sizes
$screen-sm : 576px;
$screen-md : 768px;
$screen-lg : 992px;
$screen-xl : 1200px;
$screen-xxl : 1400px;


// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
  xxl : $screen-xxl
);


$cover-hide-transition: transform 1s ease .5s;
