.about {
  background: url('../images/bg-dark.jpg') repeat;
  border-bottom: 1px solid rgba(#fff, .3);

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__main {
    max-width: 1300px;
    margin: 0 auto;
    padding:30px 15px;

    @include media-breakpoint-up(md) {
      padding: 30px;
    }

    @media (min-width: 992px) {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    margin : 0 auto 15px;
    max-width: 300px;

    @include media-breakpoint-up(md) {
      flex-shrink: 0;
      max-width: 380px;
      flex-basis: 380px;
      margin: 0;
      padding-right: 30px;

      transition: all 3s ease;

      &.is-preanimated {
        opacity: 0;
        // transform: translateX(-10%)
      }
    }
  }

  &__text {
    p {
      @include media-breakpoint-up(md) {
        opacity: 0;
        transform: translateX(20%);
        transition: all .5s ease;

        &.is-animated {
          opacity: 1;
          transform: none;
        }
      }
    }
  }

  &__years {
    padding: 30px 15px;
    background-color: rgba(#000,.5);

    @include media-breakpoint-up(md) {
      padding: 55px 30px;
    }
  }

  &__yearlist {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: center;
    }
  }

  &__year {
    margin-bottom: 50px;
    &:last-child {margin-bottom: 0;}

    @include media-breakpoint-up(md) {
      padding: 0 15px;
      max-width: 33.3%;
      flex-basis: 33.3%;
      margin-bottom: 0;
    }
  }

  &__cite {
    padding: 30px 15px;
    @include media-breakpoint-up(md) {
      padding: 50px 30px;
    }
  }

  &__list {
    margin-bottom: 80px;
  }
  &__how {
    position: relative;
  }

}
