.contacts {
  .cover__heading {

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &__container {
    max-width: 100%;
    width: 900px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__body {
    position: relative;
    background: url('../images/bg-dark.jpg');
  }

  &__top {
    padding: 60px 0;
    position: relative;
    z-index: 3;
  }

  &__form {
    position: relative;
    z-index: 2;
  }

  &__svg {
    position: relative;
    padding-bottom: 27%;
    margin-bottom: -4%;

    svg {
      position: absolute;
      right: -2%;
      bottom: -11%;
      width: 200%;
      height: 200%;

      @include media-breakpoint-up(md) {
        right: auto;
        bottom : auto;
        @include absolute;
      }
    }
  }

  &__row {
    & + & {margin-top: 40px;}

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-wrap: wrap;

      & + & {margin-top: 100px;}
    }
  }

  &__col {
    padding-right:50px;
    font-size: 18px;

    @include media-breakpoint-down(xs) {
      & + & {margin-top: 40px;}
    }
    @include media-breakpoint-down(sm) {
      &:nth-child(3) {margin-top: 40px;}
    }
    @include media-breakpoint-up(sm) {
      max-width: 50%;
      flex-basis: 50%;
      order:2;
    }


    @include media-breakpoint-up(md) {
      max-width: 33.3%;
      flex-basis: 33.3%;

      &--1 {
        order:0;
      }
    }
  }

  &__title {
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    background: url('../images/c-line.png') no-repeat 40px 50%;

    .fi-mail {position: relative;   top: 3px;}
  }

  &__link {
    transition: color .5s ease;
    &:hover {color: $brand-primary;}
  }

  &__btn {min-width: 220px;}


  &__social {
    p {margin-bottom: 10px;}

    @include media-breakpoint-up(sm) {
      margin-top: -35px;
    }
  }

  &__map {
    position: relative;
    height: 310px;


    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-color:$brand-primary;
    }

    & > div {
      height: 100%;
      // @include grayscale;
    }

    .infobox {width: 200px !important; }
  }

  @include media-breakpoint-up(md) {
    .contacts__svg path {transition:all 5s ease;}

    #cl-d-1{stroke-dasharray:139}
    #cl-d-2{stroke-dasharray:251}
    #cl-d-4{stroke-dasharray:126}
    #cl-v-3{stroke-dasharray:200}
    #cl-v-6{stroke-dasharray:239}
    #cl-h-1{stroke-dasharray:1243}
    #cl-v-2{stroke-dasharray:158}
    #cl-h-2{stroke-dasharray:575}
    #cl-v-3_1_{stroke-dasharray:154}
    #cl-d-2_2_{stroke-dasharray:298}
    #cld{stroke-dasharray:215}
    #ccircle{stroke-dasharray:316}
    #carc{stroke-dasharray:247}
    #ca1{stroke-dasharray:107}
    #cl{stroke-dasharray:70}
    #ca2{stroke-dasharray:13}
    #ce1{stroke-dasharray:92}
    #ce2{stroke-dasharray:13}
    #cx2{stroke-dasharray:45}
    #cx1{stroke-dasharray:57}
    #caa1{stroke-dasharray:108}
    #caa2{stroke-dasharray:13}
    #cn{stroke-dasharray:154}
    #cd{stroke-dasharray:129}
    #cr{stroke-dasharray:136}
    #cg{stroke-dasharray:127}
    #crr{stroke-dasharray:127}
    #caaa1{stroke-dasharray:106}
    #caaa2{stroke-dasharray:13}
    #cb{stroke-dasharray:156}
    #co{stroke-dasharray:147}
    #cv{stroke-dasharray:103}
    #cs{stroke-dasharray:113}
    #ck1{stroke-dasharray:50}
    #ck2{stroke-dasharray:38}
    #ck3{stroke-dasharray:31}
    #ci{stroke-dasharray:50}
    #cy1{stroke-dasharray:49}
    #cy2{stroke-dasharray:29}

    .is-preanimated {
      #cl-d-1{stroke-dashoffset:139}
      #cl-d-2{stroke-dashoffset:251}
      #cl-d-4{stroke-dashoffset:126}
      #cl-v-3{stroke-dashoffset:200}
      #cl-v-6{stroke-dashoffset:239}
      #cl-h-1{stroke-dashoffset:1243}
      #cl-v-2{stroke-dashoffset:158}
      #cl-h-2{stroke-dashoffset:575}
      #cl-v-3_1_{stroke-dashoffset:154}
      #cl-d-2_2_{stroke-dashoffset:298}
      #cld{stroke-dashoffset:215}
      #ccircle{stroke-dashoffset:316}
      #carc{stroke-dashoffset:247}
      #ca1{stroke-dashoffset:107}
      #cl{stroke-dashoffset:70}
      #ca2{stroke-dashoffset:13}
      #ce1{stroke-dashoffset:92}
      #ce2{stroke-dashoffset:13}
      #cx2{stroke-dashoffset:45}
      #cx1{stroke-dashoffset:57}
      #caa1{stroke-dashoffset:108}
      #caa2{stroke-dashoffset:13}
      #cn{stroke-dashoffset:154}
      #cd{stroke-dashoffset:129}
      #cr{stroke-dashoffset:136}
      #cg{stroke-dashoffset:127}
      #crr{stroke-dashoffset:127}
      #caaa1{stroke-dashoffset:106}
      #caaa2{stroke-dashoffset:13}
      #cb{stroke-dashoffset:156}
      #co{stroke-dashoffset:147}
      #cv{stroke-dashoffset:103}
      #cs{stroke-dashoffset:113}
      #ck1{stroke-dashoffset:50}
      #ck2{stroke-dashoffset:38}
      #ck3{stroke-dashoffset:31}
      #ci{stroke-dashoffset:50}
      #cy1{stroke-dashoffset:49}
      #cy2{stroke-dashoffset:29}
    }
  }
}
