.footer {

  &--dark {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    z-index: 2;
    background: url('../images/bg-paper.jpg') no-repeat;
    background-size: cover;
    height: 360px;

    .footer__right {text-align: right;}

    @include media-breakpoint-up(md) {
      height: auto;
      padding:60px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      font-size: 18px;
    }


    @include media-breakpoint-down(sm) {
      .footer__left {
        position: absolute;
        top: 30px;
        left: 30px;
      }

      .footer__center {
        position: absolute;
        left: 30px;
        bottom: 85px;
        width: 80px;
      }

      .footer__right {
        position: absolute;
        right: 30px;
        bottom: 120px;
        text-align: right;
      }
    }

    @include media-breakpoint-up(md) {
      .footer__center {  @include absolute-center; }
    }


    .copyright {
      padding-top: 14px;
      padding-bottom: 14px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      @include media-breakpoint-down(md) {
        p {font-size: 13px;}
      }
      @include media-breakpoint-up(md) {
        text-align: left;
        bottom: auto;
        top:50%;
        margin-top: 37px;
        left: 30px;
        width: 27%;
      }
      @include media-breakpoint-up(lg) {
        width: 40%;
        br {display: none;}
      }
    }
  }



  &--white {
    position: absolute;
    right: 0;
    bottom: 4px;
    padding: 30px 20px 15px 30px;
    width: $footer-width-md-down;
    background: #fff;
    color: #000;
    max-width: 100%;
    height: auto;
    z-index: 2;

    @include landscape-down(md) {
      padding: 30px 30px 15px 30px;
      width: $footer-width-md-down-landscape;
    }

    @include media-breakpoint-up(md) {
      padding: 50px 50px 30px 50px;
      width: $footer-width-md-up;
    };

    .footer__left,
    .footer__center {display: none;}

    .footer__right {
      position: relative;
      right: 0;
      bottom: 0;
      text-align: left;
    }

    .copyright {display: none;}
  }
}


.footer--dark .footer__center p{display:none}
@media (min-width:768px) {
    .footer--dark .footer__center {text-align:center; top:46%}
    .footer--dark .footer__center img {margin: 0 auto}
    .footer--dark .footer__center p{display:block}
}
