.publications {
  background: url('../images/bg-dark.jpg');
  padding: 40px 30px;

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  &__text {
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      flex-basis: 600px;
      max-width: 600px;
      padding-right: 100px;
    }
  }

  &__list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;

    .publication {
      margin-bottom: 40px;
      margin-right: 30px;
      transform: scale(0);
    }
  }
}
