// About section
.section--about {
  background: url('../images/bg-dark.jpg');

  @include media-breakpoint-down(sm) {
    min-height: 0;
  }


  .section__heading {
    position: absolute;
    left: 0;
    top: -12px;
    width: 500px;
    pointer-events: none;

    @media (min-width: 400px)  {
      width: 600px;
      top: -22px;
    }

    @include media-breakpoint-up(md) {
      width: 1200px;
      top: -45px;
    }
    @include media-breakpoint-up(xl) {
      top: 0;
      width: 100%;
    }

    .svg-wrap {
      position: relative;
      padding-bottom: 60.48%;

      svg {
        @include absolute;
      }
    }
  }

  .section__image {
    position: relative;
    padding: 2px;
    width: 160px;
    margin: 80px 15px 0 auto;

    @include portrait-down(sm) {
      width: 50%;
    }

    @include media-breakpoint-up(sm) {
      width: 200px;
    }

    @include media-breakpoint-up(md) {
      position: absolute;
      width: 35%;
      right: 30px;
      bottom: 10%;
    }

    @include media-breakpoint-up(lg) {
      right: 30px;
      width: 45%;
    }
    @include media-breakpoint-up(xl) {
      width: 35%
    }

    @media (min-width: $screen-md) and (orientation: portrait) {
      top:16%;
      bottom: auto;
      width: 50%;
    }

    img {
      width: 100%;
      position: relative;
      z-index: 2;
    }

    div {
      @include absolute;
      z-index: -1;
      content:'';
      background-color: rgba($brand-primary, .4);
      transform: translate(-5px, 5px);

      @include media-breakpoint-up(md) {
        transform: translate(-10px, 10px);
      }
    }

    svg {
      @include absolute;
      z-index: 2;
    }

    .btn {
      position: absolute;
      right: 100%;
      margin-right: 15px;
      bottom: 30px;

      @include landscape-down(sm) {
        bottom: auto;
        top: 5px;
      }

      @include media-breakpoint-up(md) {
        bottom: 45%;
        margin-right: 30px;
      }

      @include media-breakpoint-up(lg) {
        bottom: 30px;
      }
    }
  }

  .section__text {
    z-index: 2;
    margin: -10px 30px 30px 15px;


    @include media-breakpoint-up(md){
      margin:0;
      position: absolute;
      bottom: 26%;
      width: 55%;
      right: 33%;
    }

    @media (min-width:992px) {
      bottom: 30%;
    }
    @media (min-width:1300px) {
      bottom: 26%;
    }


    &:before {
      @include absolute;
      content:'';
      background: rgba(#fff, .1);
      z-index: -1;
      transform: translate(5px, 5px);

      @include media-breakpoint-up(md) {
        transform: translate(10px , 10px);
      }
    }

    blockquote {
      position: relative;
      background-color:$brand-primary;
      // background-color: #fff;
      // color: #000;
      margin: 0;
      font-size: 12px;
      line-height: 18px;
      padding: 20px 12px;

      .text-cite {
        text-align: center;
        font-size: 1.1em;
      }


      @include media-breakpoint-up(sm) {
        font-size: 15px;
        line-height: 21px;
      }



      @include media-breakpoint-up(md) {
        padding: 30px 25px;
      }

      @media (min-width: 1600px) {
        padding: 40px 50px;
        font-size: 22px;
        line-height: 30px;
      }

      &:before, &:after {
        content:'';
        position: absolute;
        background: url('../images/quotes.png') no-repeat;
        background-size: cover;
        width: 9.9em;
        height: 4.75em;
        font-size: 9px;

        @include media-breakpoint-up(md) {
          font-size: 14px;
        }
      }

      &:before {
        left: 0;
        top: 0;
        transform: scale(-1,-1)
      }

      &:after {
        right: 0;
        bottom: 0px;
        @include media-breakpoint-up(xl) {
          right: 4.5em;
        }
      }

      p {line-height: inherit ;}

      @media (min-width:1024px) and (min-height:600px) {
        .is-desktop & {
          p {
            transition: all 1s ease;
            opacity: 0;
            transform: translateY(-20px);
            // visibility: hidden;

            &.is-visible {
              // visibility: visible;
              opacity: 1;
              transform: none;
            }
          }
        }
      }
    }

    .btn {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: 30px;

      @media (min-height: 660px) and (max-width: $screen-md){
        display: block;
        margin-top: 15px;
        left:auto;
        right: 15px;
      }

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  .section__btn {
    display: none;
    position: absolute;

    @include media-breakpoint-up(md) {
      display: block;
      bottom: 10%;
      left: 30px;
    }
  }

  //section animation
  $sabout-f : ease;
  $sabout-t : 2s;
  @include media-breakpoint-up(md) {
    #l-d-1 {stroke-dasharray: 248;  }
    #l-v-1 {stroke-dasharray: 753;  }
    #l-d-2 {stroke-dasharray: 464;  }
    #l-d-3 {stroke-dasharray: 460;  }
    #l-d-4 {stroke-dasharray: 302;  }
    #l-v-3 {stroke-dasharray: 199;  }
    #l-v-4 {stroke-dasharray: 284;  }
    #l-v-5 {stroke-dasharray: 158;  }
    #l-v-6 {stroke-dasharray: 267;  }
    #l-h-1 {stroke-dasharray: 1243;  }
    #l-v-2 {stroke-dasharray: 158;  }
    #l-h-2 {stroke-dasharray: 1002;  }
    #vertical-dashed {stroke-dasharray: 138;  }
    #circle {stroke-dasharray: 315;  }
    #arc {stroke-dasharray: 246;  }
    #diag-dashed {stroke-dasharray: 435;  }
    #a1 {stroke-dasharray: 107;  }
    #l {stroke-dasharray: 69;  }
    #a2 {stroke-dasharray: 12;  }
    #e1 {stroke-dasharray: 91;  }
    #e2 {stroke-dasharray: 13;  }
    #x2 {stroke-dasharray: 45;  }
    #x1 {stroke-dasharray: 57;  }
    #aa1 {stroke-dasharray: 107;  }
    #aa2 {stroke-dasharray: 13;  }
    #n {stroke-dasharray: 153;  }
    #d {stroke-dasharray: 129;  }
    #r {stroke-dasharray: 135;  }
    #g {stroke-dasharray: 126;  }
    #rr {stroke-dasharray: 126;  }
    #aaa1 {stroke-dasharray: 106;  }
    #aaa2 {stroke-dasharray: 12;  }
    #b {stroke-dasharray: 156;  }
    #o {stroke-dasharray: 146;  }
    #v {stroke-dasharray: 102;  }
    #s {stroke-dasharray: 113;  }
    #k1 {stroke-dasharray: 50;  }
    #k2 {stroke-dasharray: 37;  }
    #k3 {stroke-dasharray: 30;  }
    #i {stroke-dasharray: 49;  }
    #y1 {stroke-dasharray: 48;  }
    #y2 {stroke-dasharray: 28;  }

    &.is-transition-enabled {
      .section__image img ,
      .section__text {transition:all $sabout-t*1.5 $sabout-f;}

      .section__text:before {
        transition: opacity 0s $sabout-f $sabout-t*1.5,
           transform $sabout-t $sabout-f $sabout-t*1.5;
      }
      .section__image div {
        transition: opacity $sabout-t $sabout-f $sabout-t*1.5 + $sabout-t;
      }
      .section__image path {transition: stroke-dashoffset $sabout-t ease-out $sabout-t*1.4}
      .section__image .btn  ,
      .section__text .btn  ,
      .section__btn {transition: all $sabout-t $sabout-f $sabout-t*1.5}

      // blockquote{transition: color $sabout-t $sabout-f $sabout-t*1.5}
      blockquote:before ,
      blockquote:after {transition: transform $sabout-t $sabout-f $sabout-t*1.5}



      .section__heading path {transition: stroke-dashoffset 4s ease-out $sabout-t/2, opacity .5s ease $sabout-t/2;}
      .section__scrollDown {
        transition-delay: $sabout-t*1.5 + $sabout-t;
      }
    }


    &.is-section-preanimated {
      .section__image div { opacity: 0;}
      .section__image img {transform: translateX(150%);}
      .section__image path { stroke-dashoffset:1904; }
      .section__image .btn { transform: translateX(150%); opacity: 0;}

      .section__text {transform: translateY(-200%); opacity: 0;}
      .section__text:before {transform: none; opacity: 0;}
      .section__text .btn {transform: translateY(-150%); opacity: 0;}

      // blockquote {color: transparent}
      blockquote:before {transform:translateY(-100%) scale(-1, -1);}
      blockquote:after {transform:translateY(100%)}

      .section__btn {transform:translateX(-150%);}

      #l-d-1 { stroke-dashoffset: 248 }
      #l-v-1 { stroke-dashoffset: 753 }
      #l-d-2 { stroke-dashoffset: 464 }
      #l-d-3 { stroke-dashoffset: 460 }
      #l-d-4 { stroke-dashoffset: 302 }
      #l-v-3 { stroke-dashoffset: 199 }
      #l-v-4 { stroke-dashoffset: 284 }
      #l-v-5 { stroke-dashoffset: 158 }
      #l-v-6 { stroke-dashoffset: 267 }
      #l-h-1 { stroke-dashoffset: 1243 }
      #l-v-2 { stroke-dashoffset: 158 }
      #l-h-2 { stroke-dashoffset: 1002 }
      #vertical-dashed { stroke-dashoffset: 138 }
      #circle { stroke-dashoffset: 315 }
      #arc { stroke-dashoffset: 246 }
      #diag-dashed { stroke-dashoffset: 435 }
      #a1 { stroke-dashoffset: 107 }
      #l { stroke-dashoffset: 69 }
      #a2 { stroke-dashoffset: 12 }
      #e1 { stroke-dashoffset: 91 }
      #e2 { stroke-dashoffset: 13 }
      #x2 { stroke-dashoffset: 45 }
      #x1 { stroke-dashoffset: 57 }
      #aa1 { stroke-dashoffset: 107 }
      #aa2 { stroke-dashoffset: 13 }
      #n { stroke-dashoffset: 153 }
      #d { stroke-dashoffset: 129 }
      #r { stroke-dashoffset: 135 }
      #g { stroke-dashoffset: 126 }
      #rr { stroke-dashoffset: 126 }
      #aaa1 { stroke-dashoffset: 106 }
      #aaa2 { stroke-dashoffset: 12 }
      #b { stroke-dashoffset: 156 }
      #o { stroke-dashoffset: 146 }
      #v { stroke-dashoffset: 102 }
      #s { stroke-dashoffset: 113 }
      #k1 { stroke-dashoffset: 50 }
      #k2 { stroke-dashoffset: 37 }
      #k3 { stroke-dashoffset: 30 }
      #i { stroke-dashoffset: 49 }
      #y1 { stroke-dashoffset: 48 }
      #y2 { stroke-dashoffset: 28 }

      .section__heading path {opacity: 0;}
    }
  }
}
