// Gallery section (audio video)
.section--gallery {
  display: none;
  background: url('../images/bg-paper-pattern.jpg') repeat;
  min-height: 480px;

  @include media-breakpoint-up(xl) {
    display: block;
  }


  .section__lights {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }


  .section__photos {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 36%;

    @media (min-width:1600px) {
      width: 33%;
    }
  }


  .section__videos {
    position: absolute;
    left: 0;
    z-index: 2;
    bottom: 25vh;
    width: 38%;

    @media (min-width:1400px) {
      width: 40%;
    }
    @media (min-width:1600px) {
      width: 36%;
    }
  }

  .section__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 104px;
    background-color: rgba(#1c1c1c, .8);

    &:before {
      content:'';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 75px;
      background-color: #272727;
    }
  }

  $sgallery-t : 2s;
  @include media-breakpoint-up(md) {
    &.is-transition-enabled {

      .desktop__border {transition: stroke-dashoffset $sgallery-t ease;}

      .section__bottom {transition: transform $sgallery-t ease}
      .section__bottom:before {transition: transform $sgallery-t ease $sgallery-t/2}

      .desktop:before,
      .desktop__image {transition: opacity $sgallery-t ease $sgallery-t;}

      .section__photos {transition: transform $sgallery-t ease $sgallery-t}

      .desktop__btn {transition: all $sgallery-t ease $sgallery-t}

      .desktop__title--left {transition: transform $sgallery-t ease $sgallery-t*2}
      .desktop__title--right {transition: width $sgallery-t ease $sgallery-t*2.5}
      .desktop__text  {transition: all $sgallery-t ease $sgallery-t*2}
      .desktop__title--left .desktop__dotline  {transition: all 1s ease $sgallery-t*3}
      .desktop__title--right .desktop__text  {transition: all $sgallery-t ease $sgallery-t*2.5}
      .desktop__title--right .desktop__dotline  {transition: all 1s ease $sgallery-t*3.5}

      #lights-path0,
      #lights-path1,
      #lights-path2,
      #lights-path3,
      #lights-path4,
      #lights-path5,
      #lights-path6,
      #lights-path7 ,
      #lights-path8 ,
      #lights-path9 ,
      #lights-path10,
      #lights-path11,
      #lights-path12,
      #lights-path13,
      #lights-path14,
      #lights-path15 ,
      #lights-path16 ,
      #lights-path17 ,
      #lights-path18 ,
      #lights-path19 ,
      #lights-path20 ,
      #lights-path21 ,
      #lights-path22 ,
      #lights-path23 ,
      #lights-path24 ,
      #lights-path25 ,
      #lights-path26 ,
      #lights-path27 ,
      #lights-path28 ,
      #lights-path29 ,
      #lights-path58 ,
      #lights-path59 ,
      #lights-path60 ,
      #lights-path61 {transition: stroke-dashoffset $sgallery-t*2 ease-out $sgallery-t; }

     #lights-path30 ,
      #lights-path31 ,
      #lights-path32 ,
      #lights-path33 ,
      #lights-path34 ,
      #lights-path35 ,
      #lights-path36 ,
      #lights-path37 ,
      #lights-path38 ,
      #lights-path39 ,
      #lights-path40 ,
      #lights-path41 ,
      #lights-path42 ,
      #lights-path43 ,
      #lights-path44 ,
      #lights-path45 ,
      #lights-path46 ,
      #lights-path47 ,
      #lights-path48,
      #lights-path49 ,
      #lights-path50 ,
      #lights-path51 ,
      #lights-path52 ,
      #lights-path53 ,
      #lights-path54 ,
      #lights-path55 ,
      #lights-path56 ,
      #lights-path57 {transition: stroke-dashoffset $sgallery-t*1.5 ease-out $sgallery-t; }
      #lights-1  ,
      #lights-2 {transition: opacity $sgallery-t ease $sgallery-t*3 }

      .section__scrollDown {  transition-delay: $sgallery-t*3;  }
    }

    &.is-section-preanimated {
      .desktop__border {stroke-dashoffset: 1631}

      .section__bottom ,
      .section__bottom:before {transform : translateY(100%)}

      .desktop:before,
      .desktop__image {opacity: 0;}

      .section__photos {transform: translateX(100%)}

      .desktop__btn {transform : translateX(-100%); opacity: 0;}

      .desktop__title--left { transform: translateX(-100%); }
      .desktop__title--right {width: 0; }
      .desktop__title--left .desktop__text {transform: translateX(-100%); opacity: 0; }
      .desktop__title--right .desktop__text {transform: translateX(100%); opacity: 0; }

      .desktop__title--left .desktop__dotline {transform: translateX(-100%); opacity: 0; }
      .desktop__title--right .desktop__dotline {transform: translateX(100%); opacity: 0; }

      #lights-1 ,#lights-2 {opacity: 0;}

      #lights-path0 {stroke-dashoffset: 101 }
      #lights-path1 {stroke-dashoffset: 907 }
      #lights-path2 {stroke-dashoffset: 384 }
      #lights-path3 {stroke-dashoffset: 366 }
      #lights-path4 {stroke-dashoffset: 139 }
      #lights-path5 {stroke-dashoffset: 87 }
      #lights-path6 {stroke-dashoffset: 105 }
      #lights-path7 {stroke-dashoffset: 196 }
      #lights-path8 {stroke-dashoffset: 374 }
      #lights-path9 {stroke-dashoffset: 412 }
      #lights-path10 {stroke-dashoffset: 913 }
      #lights-path11 {stroke-dashoffset: 2098 }
      #lights-path12 {stroke-dashoffset: 937 }
      #lights-path13 {stroke-dashoffset: 1141 }
      #lights-path14 {stroke-dashoffset: 371 }
      #lights-path15 {stroke-dashoffset: 1263 }
      #lights-path16 {stroke-dashoffset: 749 }
      #lights-path17 {stroke-dashoffset: 513 }
      #lights-path18 {stroke-dashoffset: 348 }
      #lights-path19 {stroke-dashoffset: 1080 }
      #lights-path20 {stroke-dashoffset: 726 }
      #lights-path21 {stroke-dashoffset: 639 }
      #lights-path22 {stroke-dashoffset: 139 }
      #lights-path23 {stroke-dashoffset: 74 }
      #lights-path24 {stroke-dashoffset: 108 }
      #lights-path25 {stroke-dashoffset: 279 }
      #lights-path26 {stroke-dashoffset: 410 }
      #lights-path27 {stroke-dashoffset: 1475 }
      #lights-path28 {stroke-dashoffset: 268 }
      #lights-path29 {stroke-dashoffset: 324 }
      #lights-path30 {stroke-dashoffset: 370 }
      #lights-path31 {stroke-dashoffset: 711 }
      #lights-path32 {stroke-dashoffset: 478 }
      #lights-path33 {stroke-dashoffset: 358 }
      #lights-path34 {stroke-dashoffset: 269 }
      #lights-path35 {stroke-dashoffset: 216 }
      #lights-path36 {stroke-dashoffset: 186 }
      #lights-path37 {stroke-dashoffset: 152 }
      #lights-path38 {stroke-dashoffset: 460 }
      #lights-path39 {stroke-dashoffset: 292 }
      #lights-path40 {stroke-dashoffset: 178 }
      #lights-path41 {stroke-dashoffset: 226 }
      #lights-path42 {stroke-dashoffset: 198 }
      #lights-path43 {stroke-dashoffset: 277 }
      #lights-path44 {stroke-dashoffset: 388 }
      #lights-path45 {stroke-dashoffset: 1435 }
      #lights-path46 {stroke-dashoffset: 564 }
      #lights-path47 {stroke-dashoffset: 139 }
      #lights-path48 {stroke-dashoffset: 75 }
      #lights-path49 {stroke-dashoffset: 104 }
      #lights-path50 {stroke-dashoffset: 225 }
      #lights-path51 {stroke-dashoffset: 394 }
      #lights-path52 {stroke-dashoffset: 550 }
      #lights-path53 {stroke-dashoffset: 738 }
      #lights-path54 {stroke-dashoffset: 1269 }
      #lights-path55 {stroke-dashoffset: 339 }
      #lights-path56 {stroke-dashoffset: 508 }
      #lights-path57 {stroke-dashoffset: 139 }
      #lights-path58 {stroke-dashoffset: 74 }
      #lights-path59 {stroke-dashoffset: 649 }
      #lights-path60 {stroke-dashoffset: 344 }
      #lights-path61 {stroke-dashoffset: 103 }
    }
  }

  &:not(.is-transition-enabled) {
    #lights-1 ,#lights-2 {
      animation: lights infinite 7s ease;
    }
  }
}

@keyframes lights {
  100%, 0% {opacity: 1}
  50% {opacity: 0}
}
