.section--inner {
  // section animation
  @include media-breakpoint-up(md) {
    &.is-transition-enabled {
      .cover__item {transition: transform 1s ease; }
      .section__line {transition:all 3s ease-out;}
    }

    &.is-section-preanimated {
      .section__line {transform: translateX(-100%);}
      .cover__item--left-top,
      .cover__item--left-bottom { transform: translateX(-200%); }

      .cover__item--right-bottom { transform: translateX(200%); }

      .cover__item--center-bottom {transform: translate(-50%, 200%); }
    }
  }

  @include media-breakpoint-up(xl) {
    .cover__item--left-top {

        .is-menu-open &{
          transform: translateY(23%);
        }
    }
  }
}
