.section {
  position: relative;
  overflow: hidden;
  z-index: 1;
  min-height:320px;
  min-height: 100vh;

  @media (min-width:$screen-md) and (max-height: 630px){
    height: 100vh;
    min-height: 645px;
  }

  &__overlay {
    z-index: 11;

    &.up {
      .overlay__item {
        left: 0;
        top: 0;
        transform: translateY(-100%);}
    }

    &.down {
     .overlay__item {
       left: 0;
       bottom: 0;
       transform: translateY(100%);
     }
    }

    &.is-animated {
      visibility: visible;

      .overlay__item--black {
        transition: transform .7s ease-out;
      }
      .overlay__item--green {
        transition: transform .7s ease-out .5s;
      }

      .overlay__item {transform: none;}
    }
  }

  &__cover {
    @include absolute;
    z-index: -1;
  }

  &__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 80px;
    width: 100%;
    background: $dark-transparent;
  }

  &__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 2px solid $brand-primary;
    z-index: 2;
  }

  &__scrollDown {
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -22px;
    z-index: 4;
    transition: transform .8s ease;
    transition-delay: 4s;

    .is-section-preanimated & {
      transform: translateY(200%);
    }

    @include media-breakpoint-down(lg) {display: none;}
  }
}
