// Projects section
.section--projects {
  padding-top: 59%;
  padding-bottom: 25%;
  border-bottom: 2px solid $brand-primary;

  @include media-breakpoint-up(md) {
    padding-top: 40%;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:before {
    content:'';
    @include absolute;
    background: url('../images/bg-wood.jpg') no-repeat left bottom;
    background-size: cover;
    z-index: -1;
  }


  .section__photo {
    display: block;
    position: relative;
    width: 70%;
    margin: 0 auto;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
      width: 40%;
      float: left;
      margin-left: 7%;
    }


    @include media-breakpoint-up(lg) {
      position: absolute;
      float: none;
      width: 27%;
      margin-left: 0;
      z-index: 3;
    }

    @include media-breakpoint-up(xl) {
      width: 23%;
    }


    &--1 {
      @include media-breakpoint-down(xs) {
        margin-bottom: 80px;
      }
      @include media-breakpoint-up(lg) {
        left: 2%;
        left: 2%;
        top: 34%;
      }

      .photo-card {transform: rotate(-10deg);}

      .dot {
        left: 19%;
        bottom: 72%;

        @include landscape-down(sm) {
          bottom: 79%;
        }
        @include media-breakpoint-up(lg) {
          left: 70%;
          bottom: 80%;
        }

        @include media-breakpoint-up(xl) {
          bottom: 59%;
          left: 80%;
        }
      }
      .dot__line {
        width: 215px;
        height: 115px;

        @include media-breakpoint-up(lg) {
          width: 215px;
          width: 17.33vw;
          padding-bottom: 53.48%;
          height: auto;
        }
      }
      .dot__title {
        margin-bottom: -1.2em;
        text-align: right;
      }
    }

    &--2 {
      z-index: 4;
      @include media-breakpoint-up(lg) {
        left: 20%;
        top: 50%;
      }

      .photo-card {transform: rotate(-4deg);}

      .dot {
        left: 20%;
        top: 60%;

        @include media-breakpoint-down(xs) {
          top: -10%;
        }

        @include media-breakpoint-between(sm,lg) {
          top: auto;
          bottom: 85%;
          left: 20%;
        }

        @include media-breakpoint-up(lg) {
          left: 80%; top: 60%; bottom: auto;
        }
      }
      .dot__line {
        width: 210px;
        height: 50px;

        @include media-breakpoint-up(lg) {
          width: 16.93vw;
          padding-bottom: 23.80%;
          height: auto;
        }
      }
    }

     &--3 {
      @include media-breakpoint-up(lg) {
        left: 50%;
        top: 28%;
      }

      @include media-breakpoint-down(xs) {
        margin-bottom: 80px;
      }

      .photo-card {transform: rotate(4deg);}

      .dot {
        // left: -8%;
        left: -15%;
        top: 90%;
        transform: scale(-1,-1);

        @include media-breakpoint-up(sm) {
          left: -11%;
        }
        @include media-breakpoint-up(lg) {
          top: auto;
          transform: none;
          bottom: 90%;
          left: 30%;
        }
       }
      .dot__line {
        width: 235px;
        height: 50px;

         @include media-breakpoint-up(lg) {
           height: auto;
           padding-bottom: 21.27%;
           width: 18.95vw;
         }
      }
      .dot__title {
         @include media-breakpoint-down(md) {
          transform: scale(-1,-1);
          bottom: auto;
          top: 0;
        }

      }
     }

     &--4 {
       @include media-breakpoint-up(lg) {
        left: 70%;
        top: 53%;
       }

      .photo-card {transform: rotate(9deg);}

      .dot {
        right: 20%;
        bottom: -30%;

        @media (min-width: 400px) {
          bottom: -28%;
        }

        @include landscape-down(xs) {
          bottom:-22%;
        }

        @include media-breakpoint-up(sm) {
          right: 35%;
          bottom: -25%;
        }

        @include media-breakpoint-up(md) {
          bottom: -22%;
        }

        @include media-breakpoint-up(lg) {
          right: 5%;
          bottom: 80%;
        }
      }
      .dot__line {
        width: 180px;
        height: 60px;
        @include media-breakpoint-down(md) {
          transform: scale(1,-1);
        }
        @include media-breakpoint-up(lg) {
          height: auto;
          padding-bottom: 33.3%;
          width: 14.51vw;
        }
      }
      .dot__circle {
        right: auto;
        left: 100%;
        margin: -3px 0 0 -4px;

        @include media-breakpoint-down(md) {
          top: auto;
          bottom: 100%;
          margin: 0 0 -2px -5px;
        }
      }
      .dot__title {
        right: auto;
        left: 0;
        padding-right: 20px;

        @include media-breakpoint-down(md) {
          bottom: 0;
        }
      }
     }
  }



  .section__logo {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 21%;

    @include media-breakpoint-up(lg) {
      right: 8%;
      top: 30px;
      width: 10%;
    }
  }

  .section__item {
    position: absolute;
    z-index: 2;
    pointer-events: none;

    img {width: 100%;}

    &--macbook {
      left: -20%;
      top: -2%;
      width: 80%;

      @include media-breakpoint-up(lg) {
        left: 3%;
        top: -15%;
        width: 52%;
      }
    }

    &--pencil {
      right: -15%;
      top: 15%;
      width: 30%;

      @include media-breakpoint-up(lg) {
        right: -6%;
        top: 40%;
        width: 13%;
      }
    }

    &--ruler {
      left: -15%;
      top: 7%;
      width: 40%;

      @include media-breakpoint-up(lg) {
        left: 0;
        bottom: 2%;
        width: 21%;
        top:auto;
      }
    }

    &--copic {
      top: 60%;
      right: -30%;
      width: 50%;

      @include media-breakpoint-up(lg) {
        top: auto;
        right: auto;
        bottom: 1%;
        left: 52%;
        width: 20%;
      }
    }

    &--lamp {
      display: none;
      left: 0;
      top: 0;
      width: 65%;
      z-index: 4;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

  $p-delay : 1.5s;
  @include media-breakpoint-up(md){
    &.is-transition-enabled {
      transition: all 1s ease 1s;

      .dot__title ,
      .dot__circle {transition: opacity .7s ease}

      path {transition: stroke-dashoffset .7s ease}

      $photot : 1s;
      .photo-card {transition: transform $photot ease-out, opacity .5s linear;}

      .section__photo {
        &--1 {
          .photo-card {transition-delay:  $p-delay;}
          .dot__circle,
          path {transition-delay:$photot*4+ $p-delay}
          .dot__title  {transition-delay:$photot*5+ $p-delay}
        }

        &--2 {
          .photo-card {transition-delay: $photot + $p-delay;}
          .dot__circle,
          path {transition-delay:$photot*5+ $p-delay}
          .dot__title  {transition-delay:$photot*6+ $p-delay}
        }
        &--3 {
          .photo-card {transition-delay: $photot*2 + $p-delay;}
          .dot__circle,
          path {transition-delay:$photot*6+ $p-delay}
          .dot__title  {transition-delay:$photot*7+ $p-delay}
        }
        &--4 {
          .photo-card {transition-delay: $photot*3 + $p-delay;}
          .dot__circle,
          path {transition-delay:$photot*7+ $p-delay}
          .dot__title  {transition-delay:$photot*8+ $p-delay}
        }
      }
    }

    &.is-section-preanimated {
      filter: brightness(.1);

      .dot__title {opacity: 0;}
      .dot__circle {opacity: 0;}
      .photo-card {opacity: 0;}

      .section__photo {

        &--1 {
          .photo-card {transform: translateY(-27%) translateX(-10%) rotate(-18deg) scale(1.2); }
          path {stroke-dashoffset: 263}
        }
        &--2 {
          .photo-card {transform: translateY(-23%) translateX(-11%) rotate(-8deg) scale(1.2); }
          path {stroke-dashoffset: 231}
        }
        &--3 {
          .photo-card {transform: translateY(35%) translateX(15%) rotate(18deg) scale(1.2); }
          path {stroke-dashoffset: 256}
        }
        &--4 {
          .photo-card {transform: translateY(30%) translateX(17%) rotate(28deg) scale(1.2); }
          path{stroke-dashoffset: 224}
        }
      }

      .section__scrollDown {  transition-delay: 8s;  }
    }
  }

}
