.section--rewards {
  .section__footer {
    min-height: 130px;
    padding: 20px;

    &:before,
    &:after {
      content:'';
      position: absolute;
      height: 2px;
      left: 0;
      background-color: rgba(white, .6);
    }

    &:before {
      top: -10px;
      width: 114px;
    }

    &:after {
      top: 0;
      right:0;
      @include media-breakpoint-up(lg) {
        right: 200px;
      }
      @include media-breakpoint-up(xl) {
        right: 320px;
      }
    }

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      padding: 40px 30px 20px;
    }
    @include media-breakpoint-up(lg) {
      padding:25px 40px 20px;
    }
  }

  .section__btn {
    margin-left: 40px;

    @include media-breakpoint-down(lg) {
      bottom: 100%;
      right: 15px;
      position: absolute;
      margin-bottom: 50px;
      margin-left: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom:25px;
    }

    @include media-breakpoint-up(sm) {
      right: 30px;
    }
  }

  .section__rewards {
    text-align: right;
    @include media-breakpoint-up(md) {
      flex-grow: 1;
      flex-shrink:0;
      padding-left: 15px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: -50px;
      position: relative;
      z-index: 2;
    }
    @include media-breakpoint-up(xl) {
      align-self: flex-start;
    }
  }

  .section__heading {
    margin-bottom: 10px;

    @include landscape-down(sm) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      max-width: 50%;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 60%;
    }
  }

  //section animation
  @include media-breakpoint-up(md) {
    // 1 footer
    // 2 all blocks
    // 3 .section__footer:before && .rewards-short p .rewards-short__title
    // 4 section line summary time
    &.is-transition-enabled {
      .section__footer {transition: transform 1s ease-out;}

      .rewards-short__image { transition: all 1.5s ease-out 1s;  }
      .section__heading ,
      .section__footer:after  ,
      .section__btn { transition: transform 1.5s ease-out 1s;  }


      .section__footer:before ,
      .rewards-short__title,
      .rewards-short p { transition: all 1.5s ease-out 1.8s;  }

      .section__line {transition: transform 3.5s ease-out ;}

    }


    &.is-section-preanimated {
      .rewards-short__title,
      .rewards-short p {
        transform: translateX(100%);
        opacity: 0;
      }

      .rewards-short__image {
        transform: translateY(100%);
        opacity: 0;
      }

      .section__footer {transform: translateY(100%); }
      .section__footer:before,
      .section__footer:after { transform: translateX(-100%); }

      .section__btn { transform: translateX(150%) }

      .section__heading {transform: translateX(-150%)}

      .section__line { transform: translateX(100%); }
    }
  }
}
