// Media section (articles interviews video diary)
.section--media {
  padding: 20px 15px;
  background: url('../images/bg-paper-pattern.jpg') repeat;

  @include media-breakpoint-up(md) {
    padding: 20px;
  }
  @include media-breakpoint-up(xl) {
    padding: 50px 30px;
  }

  .section__logo {
    width: 290px;
    margin: 0 auto;

    @include landscape-down(sm) {
      width: 380px;
      margin: 0;
    }

    @include media-breakpoint-up(md) {
      width: 57%;
      margin: 0;
    }
  }

  .section__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: rgba($brand-primary ,.2);

    @include media-breakpoint-up(md) {
      height: 16px;
    }
  }



  @include media-breakpoint-up(md) {
    // logo from opacity
    //2 lines and white border and section section-bottom
    //3 green blocks
    //4 3 items with delay image from opacity
    //5 btns
    //6 green shadow
    $media-transition: 1s;
    $media-logo-transition: .5s;
    $media-f: cubic-bezier(0.39, 0.575, 0.565, 1);
    &.is-transition-enabled {
      .section__logo {transition: opacity $media-logo-transition $media-f;}
      .section__bottom {transition: transform $media-logo-transition $media-f $media-logo-transition;}

      .interviews__line ,
      .diary__line ,
      .articles__line {transition: transform $media-transition*2 $media-f $media-logo-transition;}

      .diary__ipad {transition: transform $media-transition*2 $media-f $media-logo-transition+.7; }
      .diary__btn {transition: all $media-transition*2 $media-f $media-transition*2+.5;}


      .articles:before {transition: all $media-transition*2 $media-f $media-logo-transition;}
      .articles__item:nth-child(1) {transition: all $media-transition*2 $media-f $media-logo-transition+.5;}
      .articles__item:nth-child(2) {transition: all $media-transition*2 $media-f $media-logo-transition+.7;}
      .articles__item:nth-child(3) {transition: all $media-transition*2 $media-f $media-logo-transition+.9;}
      .articles__btn {transition: all $media-transition*2 $media-f $media-transition*2+.5;}

      .interviews__image path { transition: stroke-dashoffset $media-transition*2 linear $media-logo-transition;  }
      .interviews__image img ,
      .interviews__image:before {
        transition: opacity $media-transition*2 $media-f $media-transition*2+$media-logo-transition;
      }
      .interviews__text  {
        transition: transform $media-transition*2 $media-f $media-logo-transition,
        color $media-logo-transition $media-f $media-transition*2+$media-logo-transition;
      }
      .interviews__image:after {
        transition:opacity 0s $media-f $media-transition*2+$media-logo-transition+1,
        transform $media-transition $media-f $media-transition*2+$media-logo-transition+1
      }
      .interviews__btn {transition: all $media-transition*2 $media-f $media-transition*2+.5;}

      .section__scrollDown {  transition-delay: $media-transition*2+.5;  }
    }


    &.is-section-preanimated {
      .section__logo {opacity: 0;}
      .section__bottom {transform: translateY(100%)}

      .interviews__image path {
        stroke-dashoffset:1564;
      }
      .interviews__image img {opacity: 0;}
      .interviews__image:before {opacity: 0;}
      .interviews__image:after {
        transform:none;
        opacity: 0;
      }
      .interviews__line {transform: translateX(-120%);}
      .interviews__text {
        transform: translateX(-120%);
        color: transparent
      }
      .interviews__btn {
        transform: translateY(150%);
        opacity: 0;
      }


      .diary__ipad {transform: translateX(100%);}
      .diary__btn {transform: translateX(150%); opacity: 0;}
      .diary__line {transform: translateY(100%)}


      .articles:before {transform: translateX(100%)}
      .articles__btn {transform: translateX(150%); opacity: 0;}
      .articles__line {transform: translateX(100%); }
      .articles__item {transform: translateX(300px); }
    }
  }
}
