.section--contacts {
  .section__heading  {
    position: absolute;
    left: 0;
    top: 28px;
    width: 70%;

    @media (max-width: 768px) and (orientation: landscape) {
      width: 34%;
    }

    @include media-breakpoint-up(sm) {
      width: 50%;
      top:10%;
    }

    @include media-breakpoint-up(lg) {
      top: 10%;
      width: 39%;
    }
  }

  // for contacts section on main page
  .heading {
    overflow: visible;
    display: none;

    @media (max-width: 1024px) {display: block;}

    &__text{
      overflow: hidden;
      span {display: block;}
    }

    &__content {
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      padding-top: 15px;
      padding-left: 10px;
      @include media-breakpoint-up(md) {
        padding-left: 30px;
      }

      p {
        margin-bottom: 0px;
        @include media-breakpoint-up(md) {
          font-size: 18px;
        }
      }
      h5 {
        margin-bottom: 0;
        font-size: 20px;

        @include media-breakpoint-up(md) {
          font-size: 24px;
        }
      }
    }
  }

  .cover__media {
    background-position: 90% 100%;

    @include landscape-down(sm) {
      background-size: 150%;
    };
  }

  .section__footer {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include landscape-down(md) {
      padding-right:  $footer-width-md-down-landscape;
      align-items: center;
      justify-content: flex-start;
    }

    @include media-breakpoint-up(lg) {
      padding-right: $footer-width-md-up;
      align-items: center;
      justify-content: flex-start;
    }

  }

  .section__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .section__copyright {
    padding:0 20px;
    text-align: center;
    flex-grow: 1;

    @include landscape-down(md) {
      text-align: left;
    }
    @include media-breakpoint-up(lg) {
      text-align: left;
    }

    br {display: none;}
  }

  .section__text {
    text-align: right;
    color: #fff;
    padding: 0 20px;
    flex-grow: 1;

    @media (max-width: 1024px) {
      display: none;
    }

    h5 {
      font-size: 24px;
      line-height: 28px;
      white-space: nowrap;
      margin-bottom: 0;
    }
    p {
      font-size: 18px;
      line-height: 26px;
      white-space: nowrap;
    }
  }

  .footer {
    @include media-breakpoint-down(md) {
      bottom: 55px;
    }

     @include landscape-down(md) {
       bottom: 4px;
     }

     @include media-breakpoint-up(lg) {
       bottom: 4px;
     }
  }


  // section animation
  @include media-breakpoint-up(md) {
    &.is-transition-enabled {
      .section__footer,
      .section__heading {
         transition: all 1s ease-out;
      }

      .heading__text span,
      .footer { transition: all 1s ease-out  .8s; }

      .heading__content p { transition: all 1s ease-out 1.5s;  }
      .heading__content h5 { transition: all 1s ease-out 2s;  }

      .social--dark:after { transition: all 1s ease-out 1.2s;  }

      .section__text h5 { transition: all 1s ease-out 2s;  }
      .section__text p { transition: all 1s ease-out 2.5s;  }
      .section__line {transition: all 3.5s linear;}
      .copyright p:nth-child(1) {transition: all 1s linear 2s;}
      .copyright p:nth-child(2) {transition: all 1s linear 2.5s;}
    }

    &.is-section-preanimated {
      .section__line { transform: translateX(-100%);  }
      .section__footer { transform: translateY(100%);opacity: 0;   }
      .section__heading { transform: translateX(-100%); }
      .heading__text span{ transform: translateY(150%);opacity: 0;   }
      .footer { transform: translateX(100%);   }
      .heading__content p ,
      .heading__content h5  { transform: translateY(-20px);  opacity: 0; }
      .section__text h5,
      .section__text p   { transform: translateX(-100px);  opacity: 0; }
      .social--dark:after {transform: translateX(100%);  }
      .copyright p{ transform: translateX(100px);  opacity: 0; }
    }
  }
}
