.section--home {
  .cover__link {margin-top: 10px;}

  @include media-breakpoint-down(sm) {
    .cover__item--left-bottom ,
    .cover__item--center-bottom { display: none;}
  }

  // section animation
  @include media-breakpoint-up(md) {
    &.is-transition-enabled {
      .cover__item {transition: transform 1.5s ease; }
    }

    &.is-section-preanimated {
      .cover__item--left-top,
      .cover__item--left-bottom { transform: translateX(-200%); }
      .cover__item--left-center { transform:translate(-200%, -50%) }

      .cover__link,
      .cover__item--right-top,
      .cover__item--right-bottom { transform: translateX(200%); }

      .cover__item--center-top {transform: translate(-50%, -200%); }

      .cover__item--center-bottom {transform: translate(-50%, 200%); }

    }
  }
}
