body{ background: url('../img/bg-paper-pattern.jpg'); }
.wrapper{
	margin-top: 80px;
	margin-bottom: 80px;
}
.logo{
	display: block;
	margin: 0 auto 20px auto;
	width: 160px;
}
.logo img{ display: block; }
.form-login{
	max-width: 380px;
	padding: 35px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-login .form-control{
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-login .form-login:focus{ z-index: 2; }
.form-login input[type="email"]{
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-login input[type="password"]{
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}