.articles {
  position: absolute;
  right:15px;
  top: 90px;
  width: 40%;

  @include landscape-down(sm) {
    width: 30%;
    right: auto;
    left: 15px;
    top: 170px;
  }

  @include media-breakpoint-up(md) {
    top: 0px;
    right: 0;
    width: 255px;
    height: 376px;

    &:before {
      content:'';
      @include absolute;
      z-index: -1;
      background: rgba($brand-primary, .1);
    }
  }

  &__btn {
    @include media-breakpoint-down(sm){
      display: block;
    }

    @include portrait-down(sm) {
      @include btn-dashed-right;
    }

    @include landscape-down(sm) {
      @include btn-dashed-left;
    }

    @include media-breakpoint-up(md) {
      @include btn-dashed-right;
      position: absolute;
      right: 100%;
      top: 170px;
      margin-right: 60px;
    }
  }

  &__items {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__item {
    display: block;
    position: absolute;
    z-index: 2;
    box-shadow: 0 8px 26px  rgba(0,0,0,.6);
    width:100px;
    line-height: 0;

    &:nth-child(1) {
      top: 90px;
      left:-30px;
    }
    &:nth-child(2) {
      z-index: 1;
      top: 60px;
      right: 40%;
    }
    &:nth-child(3) {
      right: 30px;
      top: 120px;
    }
  }

  &__line {
    display: none;
    position: absolute;
    left: -20%;
    right: 0;
    top: 140px;
    background: rgba(#fff, .3);
    height: 2px;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
