.award {
  display: block;
  position: relative;
  width: 98px;
  height: 128px;
  border: 2px solid transparent;
  transition: border-color .3s ease;

  &:after {
    content: '';
    @include absolute;
    background-color: rgba(#000, .5);
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:before {
    @extend .fi;
    @extend .fi-zoom-in:before;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    font-size: 30px;
    z-index: 2;
    transition: transform .3s ease;
    transform: scale(0);
  }

  & + & {margin-left: 10px;}

  //
  &:hover {
    border-color: #fff;

    &:before {transform: none}
    &:after {opacity: 1;}
  }
}
