.btn-group {
  display: flex;

  .btn + .btn {margin-left: 10px;}

  &--vertical {
    flex-direction: column;

    .btn + .btn {margin-left: 0; margin-top: 10px;}
  }

  &--end {
    justify-content: flex-end;
  }
}
