// dashed buttons
@mixin btn-dashed {
  font-size: 12px;

  &:after,
  &:before {
    content:'';
    position: absolute;
    opacity: .3;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-fill-mode: forwards;
  }

  &:after { animation-direction: reverse; }

  @include media-breakpoint-up(md) {
    &.is-animated:before,
    &.is-animated:after,
    .active &:after,
    .active &:before{
      animation-play-state: running;
    }
  }

  &:hover:after,
  &:hover:before {
    opacity: 1;
    // animation-play-state: running; //disable for infinite loop dashes
  }
}

@mixin btn-dashed-top {
  @include btn-dashed;
  border-top: 0;
  &:after,
  &:before {
    bottom: 100%;
    height: 30px;
    width: 1px;
    background: url('../images/vdash.svg') repeat-y;
    animation-name: dashed-vertical;
  }
  &:after {right:-1px; }
  &:before {left: -1px;}
}
@mixin btn-dashed-right {
  @include btn-dashed;
  border-right: 0;

  &:after,
  &:before {
    left: 100%;
    width: 30px;
    height: 1px;
    background: url('../images/hdash.svg') repeat-x;
    animation-name: dashed-horizontal;
  }
  &:before {top: -1px;}
  &:after {bottom:-1px; }
}
@mixin btn-dashed-bottom {
  @include btn-dashed;
  border-bottom: 0;
  &:after,
  &:before {
    top: 100%;
    height: 30px;
    width: 1px;
    background: url('../images/vdash.svg') repeat-y;
    animation-name: dashed-vertical;
  }
  &:after {right:-1px; }
  &:before {left: -1px;}
}
@mixin btn-dashed-left {
  @include btn-dashed;
  border-left: 0;

  &:after,
  &:before {
    right: 100%;
    width: 30px;
    height: 1px;
    background: url('../images/hdash.svg') repeat-x;
    animation-name: dashed-horizontal;
  }
  &:after {bottom:-1px; }
  &:before {top: -1px;}
}

.btn {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  border:1px solid rgba(255,255,255, .3);
  color: #fff;
  background-color: transparent;
  padding: 0 15px;
  line-height: 44px;
  height: 44px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: border-color .3s ease-out;

  &:hover {
    border-color: rgba(255,255,255,1);
  }

  &--square {
    padding: 0;
    width: 44px;
    font-size: 16px;
    text-align: center;

    i, svg {
      @include absolute-center();
    }
  }

  &--block {
    display: block;
  }

  &--dashed {
    @include btn-dashed;
  }

  // dashed buttons
  &--dashed-right {
    @include btn-dashed-right;
  }

  &--dashed-left {
    @include btn-dashed-left;
  }

  &--dashed-bottom {
    @include btn-dashed-bottom;
  }

  &--dashed-top {
    @include btn-dashed-top;
  }

  &--vertical {
    width: 44px;
    height: 100px;

    & > span {
      display: block;
      width: 100px;
      height: 44px;
      line-height: 44px;
      position: absolute;
      bottom: 100%;
      transform: rotate(90deg);
      left: 0;
      transform-origin: 0 100%;
    }
  }

  // btn sizes
  &--md {
    font-size: 24px;
    font-weight: 100;
  }
}




@keyframes dashed-horizontal {
  0% {background-position: 0 0;}
  100% {background-position: -68px 0;}
}

@keyframes dashed-vertical {
  0% {background-position: 0 0;}
  100% {background-position: 0 -68px;}
}
