.camera {
  position: relative;

  &__btn {
    position: absolute;
    right: 0;
    bottom: 105%;
    padding-right: 30px;
  }

  &__camera {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;

    & > img {
      position: relative;
      z-index: 2;
      width: 100%;
    }
  }


  &__image {
    position: absolute;
    top: 17%;
    left: 41%;
    width: 27%;
    height: 21.5%;
    transform-origin: left center;
    transform: skew(-7deg, -1deg)  rotateY(4deg);
    background-size: cover;
    z-index: 1;
  }
}
