.card-how {
  display: inline-block;
  text-align: left;
  position: relative;
  min-height: 210px;
  max-width: 540px;
  padding: 30px 60px 30px 30px;
  border: 1px solid rgba(#fff, .3);
  min-height: 210px;

  @include media-breakpoint-up(lg) {
    min-height: 278px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 210px;
  }

  &:after {
    position: absolute;
    top: 50%;
    content: '';
    opacity: .3;
    background: url('../images/hdash.svg') repeat-x;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-name: dashed-horizontal;
    width: 50px;
    height: 1px;
    display: none;

    @include media-breakpoint-up(md) {
      animation-play-state: running;
      display: block;
    }
  }

  &:hover {
    @include cdot-animated;
  }

  &__num {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 48px;
    line-height: 1;
    color: $brand-primary;
  }

  &__dot {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__text {
    line-height: 24px;
  }
}
