.cdot {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-radius: 50%;

  &:before {
    content:'';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top:-8px;
    transform-origin: 50% 50%;
    background-color: #fff;
    border-radius: 50%;
    animation: MARKER 1.5s ease infinite;
    animation-play-state: paused;
    visibility: hidden;
  }
}
