.cite {
  @media (min-width: 992px){
    display: flex;
  }

  &__main {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: 992px){
      text-align: right;
      flex-shrink: 0;
      max-width: 30%;
      flex-basis: 30%;
      margin-bottom: 0;
    }
  }

  &__sep {
    max-width: 40px;
    flex-basis: 40px;
    flex-shrink: 0;
    display: none;
    position: relative;

    &:before {
      content:'';
      position: absolute;
      left: 20px;
      top: 0;
      bottom: 0;
      border-left: 1px solid #fff;
    }

    @media (min-width: 992px){
      display: block;
    }
  }

  &__text {
    flex-grow: 1;
  }


  @include media-breakpoint-up(md) {
    .cite__main,
    .cite__sep,
    .cite__text {
      transition: all .7s ease-out;
    }
    &.is-preanimated {
      .cite__sep {opacity: 0;transform: translateY(20%)}
      .cite__text {opacity: 0;transform: translateX(20%)}
      .cite__main {opacity: 0;transform: translateX(-20%)}
    }
  }
}
