.text-left {text-align: left!important;}
.text-right {text-align: right!important;}
.text-center {text-align: center!important;}

.scroll-down {
    display: inline-block;
    margin-left: 2px;
    animation: pulse 1.8s infinite;
}

//colors
.c-gray {color: #999}

.bg-dark {
  background: url('../images/bg-dark.jpg') repeat;
}

.text {
  padding: 30px 15px;

  @include media-breakpoint-up(md) {
    padding: 30px;
  }
}

.text-cite {
  font-family: 'SegoePrint', sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.title-ls {
  font-size: 24px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.logo-text {
  display: inline-block;
  margin-bottom: 6px;
  width: 200px;

  @media (min-width: 340px) {
    width: auto;
  }
}

.notransition {
  * {transition: none!important;}
}
