.contact {
  margin-bottom: 15px;

  @include media-breakpoint-up(md) {
    margin-bottom: 25px;
  }

  &__item {
    & + & {
      margin-top: 7px;

      @include media-breakpoint-up(md) {
        margin-top: 15px;
      }
    }
  }

  &__link {
    position: relative;
    padding-left: 25px;

    @include media-breakpoint-up(md) {
      padding-left: 40px;
    }

    .footer--dark & {
      padding-left:0 ;
      padding-right: 30px;
    }

    i {
      position: absolute;
      left: 0;
      top: 0px;

      .footer--dark & {
        left: auto;
        right: 0;
      }
    }
  }

  a {
    color: inherit;
    transition: opacity .3s ease-in-out;

    &:hover {
      opacity: .8;
    }
  }

}
