.contact-form {
  display: none;
  background: rgba(#000, .5);
  margin-bottom: -8%;

  &__inner {
    position: relative;
    padding: 50px 75px 50px 15px;
    max-width: 900px;
    margin: 0 auto;
  }

  &__row {
    @include media-breakpoint-up(sm) {
      display: flex;
    }
  }

  &__left {
    margin-bottom: 20px;
    @include media-breakpoint-up(sm) {
      flex-basis: 33.3%;
      max-width: 33.3%;
      margin-bottom: 0;
    }
  }

  &__right {
    @include media-breakpoint-up(sm) {
      padding-left: 40px;
      flex-basis: 66.6%;
      max-width: 66.6%;
    }
  }

  &__input {
    & + & {margin-top: 20px;}
  }

  &__textarea {
    height: 108px;
  }

  &__footer {
    text-align: right;
    margin-top: 20px;
  }

  &__submit {
    min-width: 220px;

    @media (max-width: 480px) {
      display: block;
      width: 100%;
    }
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 50px;
  }
}
