.copyright {
  p {
    color: #fff;
    font-size: 11px;
    margin-bottom: 0;
    line-height: 14px;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
