.cover {
  position: relative;

  &__items {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 15px;
    right: 15px;
    z-index: 2;
    backface-visibility: hidden;

    @include media-breakpoint-up(md) {
      left: 20px;
      right: 20px;
    }

    @include media-breakpoint-up(xl) {
      left: 30px;
      right: 30px;
      top: 30px;
      bottom: 30px;
    }

  }

  &__intro  {
    position: relative;
    max-width: 380px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;

    &__line {
      position: absolute;
      left: -60px;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid #fff;
    }

    p {line-height: inherit ;}
  }

  &__item {
    position: absolute;

    &--left-top {
      left: 0;
      top: 0;

      @include media-breakpoint-up(xl) {
        transition: transform $menu-transition ease $menu-transition;

        .is-menu-open &{
          transform: translateY(100%);
        }
      }

    }
    &--rigth-top {
      right: 0;
      top: 0;
    }
    &--left-bottom {
      left: 0;
      bottom: 0;
    }
    &--left-center {
      left: 0;
      top: 50%;
      transform:translateY(-50%);
    }
    &--right-bottom {
      right: 0;
      bottom: 0;
    }
    &--center-top {
      left: 50%; transform:translateX(-50%);
      top: 0;
    }
    &--center-bottom {
      left: 50%; transform:translateX(-50%);
      bottom: 0;
    }
  }

  &__media {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;

    @media (min-width:$screen-md) and (max-height: 630px){
      min-height: 645px;
    }

    video {
      @include absolute-center;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &:after {
      content:'';
      @include absolute;
      background-color: $dark-transparent;
      pointer-events: none;
      backface-visibility: hidden;
    }
  }

  &__heading {
    font-size: 30px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    display: block;
    margin-bottom: 65px;
    margin-left: -15px;
    padding-left: 15px;

    @include media-breakpoint-up(sm) {
      margin-left: -20px;
      padding-left: 20px;
    }
    @include media-breakpoint-up(md) {
      font-size: 50px;
      line-height: 60px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 40vw;
      padding-left: 30px;
      margin-left: -30px;
    }
  }
}
