.desktop {
  position: relative;

  &:before {
    position: absolute;
    content:'';
    left: 0;
    top: -8%;
    right: -5.8%;
    bottom: -39.937%;
    background:url('../images/desktop.png') no-repeat;
    background-size: contain;
  }

  &__btn {
    position: absolute;
    bottom: 5%;
    left: 0;
    padding-left: 30px;
  }

  &__image {
    position: relative;
    padding-bottom: 72.21%;
    overflow: hidden;

    &:before {
      content:'';
      position: absolute;
      left: 0;
      bottom: -25vh;
      width: 100vw;
      height: 100vh;
      background: url('../images/lights-color.jpg') no-repeat;
      background-size: cover;
      min-height: 480px;
    }
  }

  &__border {
    @include absolute;
    z-index: 2;
    pointer-events: none;
  }

  &__title {
    position: absolute;
    color: #838383;
    background-color: #fff;
    width: 70%;
    font-size: 32px;

    @media (min-width:1400px) {
      font-size: 36px;
    }

    &--left {
      left: 0;
      top: 15%;
      text-align: right;
    }

    &--right {
      right: 0;
      bottom: 20%;
    }
  }

  &__text {
    position: relative;
    display: block;
    font-weight: 300;
    padding: .6em 1em;
    line-height: 1;
    white-space: nowrap;
    text-transform: uppercase;
    overflow: hidden;

    & > span {
      position: relative;
    }
  }

  &__dotline {
    display: block;
    position: absolute;
    left: 100%;
    margin-left: 15px;
    top: 47%;
    width: 250px;
    height: 1px;
    background-color: #838383;

    &:before {
      content:'';
      width: 11px;
      height: 11px;
      background-color: #838383;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      left: -10px;
    }

    &--left {
      left: auto;
      margin-left: 0;
      right: 100%;
      margin-right: 15px;

      &:before {
        left: auto;
        right: -10px;
      }
    }
  }
}
