// Diary
.diary {
  position: absolute;
  right: 0;
  bottom: 30px;
  width: 100%;
  text-align: center;

  @include landscape-down(sm) {
    width: 40%;
    bottom: 15px;
  }
  @include landscape-down(xs) {
    width: 45%;
  }
  @include media-breakpoint-up(md) {
    width: 45%;
  }
  @include media-breakpoint-up(lg) {
    width: 30%;
  }

  &__ipad {
    width: 80%;
    margin-left: auto;
    margin-bottom: 15px;
    max-width: 420px;
    position: relative;
    z-index: 2;

    @include landscape-down(sm) {
      margin-bottom: 0;
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      max-width: none;
    }
  }

  &__btn {
    @include landscape-down(sm) {
      @include btn-dashed-right;
      position: absolute;
      right: 100%;
      bottom: 12%;
      margin-right: 15px;
    }

    @include media-breakpoint-up(md) {
      @include btn-dashed-right;
      position: absolute;
      right: 100%;
      bottom: 12%;
      margin-right: 15px;
    }
  }

  &__image  {
    position: relative;
    padding: 12.5% 0 12.3% 12.8%;

    img {width: 100%;}

    &:before {
      @include absolute;
      content:'';
      background: url('../images/bg-ipad.png') no-repeat;
      background-size: contain;
    }
  }

  &__line {
    display: none;
    position: absolute;
    right: 30px;
    bottom: -30px;
    top: -30px;
    // height: 63vh;
    width: 2px;
    background: rgba(#fff,.3);
    z-index: -1;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
