.dline {
  position: relative;

  &:before {
    content:'';
    display: block;
  }

  &:after {
    opacity: .3;
    position: absolute;
    content:'';
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-fill-mode: forwards;

    @include media-breakpoint-up(md) {
      animation-play-state: running;
    }
  }


  &--left {
    padding-left: 100px;

    &:before {border-bottom: 1px solid rgba(#fff, .3);}
    &:after {
      left: 0;
      top: 0;
      width: 100px;
      height: 1px;
      background: url('../images/hdash.svg') repeat-x;
      animation-name: dashed-horizontal;
    }
  }

  &--right {
    padding-right: 100px;

    &:before {border-bottom: 1px solid rgba(#fff, .3);}
    &:after {
      right: 0;
      top: 0;
      width: 100px;
      height: 1px;
      background: url('../images/hdash.svg') repeat-x;
      animation-name: dashed-horizontal;
      animation-direction: reverse;
    }
  }

  &--bottom {
    padding-bottom: 100px;

    &:before {
      height: 100%;
      border-left: 1px solid rgba(#fff, .3);
    }
    &:after {
      left: 0;
      bottom: 0;
      height: 100px;
      width: 1px;
      background: url('../images/vdash.svg') repeat-y;
      animation-name: dashed-vertical;
       animation-direction: reverse;
    }
  }
}
