.dot {
    position: absolute;
    z-index: 5;

    &__line {
      display: block;
      position: relative;

      svg {
        @include absolute;
      }
      
      path {
        fill:none;
        stroke:#fff;
        stroke-width:1;
        transition: stroke .5s ease;
      }
    }

    &__circle {
      position: absolute;
      right: 100%;
      top: 100%;
      height: 12px;
      width: 12px;
      margin: -3px -3px 0 0;
      background-color: #fff;
      border-radius: 50%; 
      transition: background-color .5s ease;

      &:before {
        content:'';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top:-8px;
        transform-origin: 50% 50%;
        background-color: #fff;
        border-radius: 50%; 
        animation: MARKER 1.5s ease infinite;
      }
      
    }

    &__title {
      position: absolute;
      right: 0;
      text-transform: uppercase;
      bottom: 100%;
      font-size: 20px;
      text-shadow: 1px 1px 4px rgba(0,0,0,.6);
      transition: color .5s ease;
      
      @include media-breakpoint-up(md) {
        font-size:17px;
      }

      @include media-breakpoint-up(xl) {
        font-size:22px;
      }

      @media (min-width: 1600px) {
        font-size: 32px;
      }
    }

}

  .section__photo:hover {
    .dot__circle ,
    .dot__circle:before {background-color: #7fce13}
    .dot__line path {stroke:  #7fce13}
    .dot__title {color: #7fce13; }
  }