.eq {
  &__col  {
    animation-name: eq;
    animation-timing-function: steps(4,end);
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-direction: alternate;
    animation-delay: -2.5s; //for start not from all fulled state

    &--1 {animation-duration: 1s; }
    &--2 {animation-duration: .8s;}
    &--3 {animation-duration: 1.2s;}

    .is-played & ,
    .btn:hover & { animation-play-state: running; }
  }
}

@keyframes eq {100% {transform:translateY(16px);}}


.bar-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(.7);
  overflow: hidden;
  height: 30px;
  width: 33px;
  opacity: .3;
  transition: opacity .6s ease;

  .is-played & ,
  .btn:hover & {
    opacity: 1;
  }
}
.bar {
  height: 1px;
  width: 3px;
  display: inline-block;
  background-color: #fff;
  bottom: 0;
  position: absolute;
  opacity: 1;
  animation-duration: 700ms;
  animation-play-state: running;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bar.noAnim {
  animation: none;
  animation-name: none;
}
.bar#bar-1 {
  left: 0;
  animation-name: danceHeight1;
  animation-delay: 2200ms;
}
.bar#bar-2 {
  left: 6px;
  animation-name: danceHeight2;
  animation-delay: 2500ms;
}
.bar#bar-3 {
  left: 12px;
  animation-name: danceHeight3;
  animation-delay: 2800ms;
}
.bar#bar-4 {
  left: 18px;
  animation-name: danceHeight4;
  animation-delay: 3100ms;
}
.bar#bar-5 {
  left: 24px;
  animation-name: danceHeight5;
  animation-delay: 3400ms;
}
.bar#bar-6 {
  left: 30px;
  animation-name: danceHeight6;
  animation-delay: 3700ms;
}
@keyframes danceHeight1 {
  from {
    height: 1px;
  }
  to {
    height: 22px;
  }
}
@keyframes danceHeight2 {
  from {
    height: 1px;
  }
  to {
    height: 15px;
  }
}
@keyframes danceHeight3 {
  from {
    height: 1px;
  }
  to {
    height: 30px;
  }
}
@keyframes danceHeight4 {
  from {
    height: 1px;
  }
  to {
    height: 20px;
  }
}
@keyframes danceHeight5 {
  from {
    height: 1px;
  }
  to {
    height: 15px;
  }
}
@keyframes danceHeight6 {
  from {
    height: 1px;
  }
  to {
    height: 15px;
  }
}
