.filter {
  background: #000;
  padding: 30px;



  &__item {
    @include media-breakpoint-down(xs) {
      margin-bottom: 15px;
      &:last-child {margin: 0;}
    }
    @include media-breakpoint-up(sm) {
      display: inline;
      & + & {margin-left: 30px;}
    }

  }

  &__link {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    opacity: .4;
    transition: opacity .4s ease;

    &.is-active,
    &:hover {opacity: 1;}

    @include media-breakpoint-down(xs) {
      display: block;
      padding: 5px 10px;
      border: 1px solid #fff;
    }

    @include media-breakpoint-up(md) {
      display: inline-block;
      padding-bottom: 10px;
    }
  }
}
