.heading {
  position: relative;
  overflow: hidden;
  text-align: right;

  &__text {
    padding-bottom: 20px;
  }

  &__line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #fff;
    width: 100%;
  }
}
