.how {
  &__header {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(#fff,.3);

    @include media-breakpoint-up(md) {
      border-bottom: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      margin-bottom: -15px;
    }
  }

  &__headerline {
    display: none;

    @include media-breakpoint-up(md) {
      flex-grow: 1;
      display: block;
    }
  }

  &__title {
    text-align: center;
    padding: 0 15px;

    @include media-breakpoint-up(md) {
      padding: 0 30px;
      text-align: left;
    }
  }

  &__items {
    position: relative;
    padding: 50px 0;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      padding: 90px 0;
    }
  }

  &__item {
    padding: 0 15px;

    @include media-breakpoint-down(md) {
      text-align: center;
      & + & {margin-top: 30px;}

      .card-how:after {left: 100%;}
      .card-how__dot {left: 100%; margin-left: -6px;}
    }
    @include media-breakpoint-up(md) {
      padding: 0 30px;
      .card-how {transition: all .6s ease-out;}
      .card-how__dot {transition: all .6s ease-in .6s;}
      .card-how:after {transition: all .6s ease-out 1s}

      &.is-preanimated {
        .card-how { opacity: 0; }
        .card-how:after {width: 0;}
        .card-how__dot {transform: scale(0)}
        .card-how {transform: translateX(-10%); }
      }
    }

    @include media-breakpoint-up(lg) {
      width: 50%;
      padding: 0 50px;

      &:nth-child(odd) {
        float: left;
        clear: left;
        text-align: right;
        margin-bottom:120px;

        .card-how:after {left: 100%;}
        .card-how__dot {left: 100%; margin-left: -6px;}
      }

      &:nth-child(even) {
        float: right;
        clear: right;
        margin-top: 120px;

        .card-how:after {
          right: 100%;
          animation-direction: reverse;
        }
        .card-how__dot {right: 100%; margin-right: -6px;}

        &.is-preanimated {
          .card-how {transform: translateX(10%); }
        }
      }

    }
  }

  &__line {
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;

    @include media-breakpoint-up(md) {
      display: block;
      margin-left: 320px;
      transition: all .8s ease;

      &.is-preanimated {
        padding-bottom: 0;
        height: 0;
        opacity: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      margin-left: 0;
    }
  }


}
