.infobox {
  padding: 7px 10px;
  position: relative;
  transform: translate(-50%, -50px);
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0,0,0,.3);

  & > a {
    text-transform: uppercase;
    text-overflow: ellipsis;
    font-size: 20px;
    color: #000;
    white-space: nowrap;
    text-decoration: none;
  }

  &:after {
    content:'';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    transform:rotate(45deg);
    transform-origin:50% 50%;
  }

  &__content {
    padding-bottom: 10px;
    color: #222;
    font-size: 16px;

    padding-left: 40px;
    background: url('../images/logo-square.png') no-repeat 0 5px;
    background-size: 30px 30px;
  }
}
