.input {
  outline:none;
  border: 1px solid rgba(#fff,.2);
  background: none;
  padding: 7px 10px;
  display: block;
  width: 100%;
  transition: border-color .6s ease;

  @include placeholder {
    transition: color .6s ease;
    color: #8f8f8f;
  }

  &:focus {
    border-color: #fff;

    @include placeholder {
      color: transparent;
    }
  }

  &:not(textarea) {height: 44px;}
}

textarea.input {
  resize: none;
}
