// interviews
.interviews {
  position: absolute;
  left: 15px;
  top: 90px;
  width: 40%;

  @include landscape-down(sm) {
    top: 110px;
    width: 30%;
  }

  @include media-breakpoint-up(md) {
    top: 40%;
    width: 52%;
    left: 0;
  }

  &__image {
    position: relative;
    padding-bottom: 42.21%;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    img {
      @include absolute;
      object-fit:cover;
    }

    svg {
      @include absolute;
      z-index: 3;
      stroke-dashoffset:0;
    }

    &:after {
      content:'';
      @include absolute;
      z-index: -1;
      background-color: rgba($brand-primary, .4);
      transform: translate(10px, 10px);
    }

    &:before {
      content:'';
      @include absolute;
      z-index: 2;
      background: rgba(#000,.2);
    }
  }

  &__text {
    @include media-breakpoint-down(md) {
      display: none;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg) and (orientation: portrait) {
      display: block;
    }

    position: relative;
    width: 76%;
    background: $brand-primary;
    margin-top: -50px;
    margin-left: 30px;
    z-index: 4;
    position: relative;
    padding: 20px 10% 20px 35px;
    box-shadow: 0 8px 27px  rgba(0,0,0,.9);
    font-size: 14px;
  }

  &__line {
    display: none;
    position: absolute;
    right: -40px;
    bottom: 70px;
    width: 110%;
    height: 2px;
    background-color: rgba(#fff, .3);
    z-index: -1;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &__btn {
    @include media-breakpoint-down(sm){
      @include btn-dashed-left;
      display: block;
    }

    @include media-breakpoint-up(md) {
      @include btn-dashed-bottom;
      position: absolute;
      left: 30px;
      bottom: 100%;
      margin-bottom: 30px;
    }
  }
}
