.lang {
  &__btn{
    
    &:not(.is-active) {
      transform: translateX(-10px);
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-out;

     .is-lang-active & {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
    }
  }

}
