.list {

  &__header {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(#fff,.3);

    @include media-breakpoint-up(md) {
      border-bottom: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      margin-bottom: -14px;
    }
  }

  &__title {
    text-align: center;
    padding: 0 40px;
  }

  &__headerline {
    flex-grow: 1;
    display: none;
    @include media-breakpoint-up(md) {display: block;}
  }

  &__content {
    position: relative;
    max-width: 1060px;
    padding: 30px 15px;
    overflow: hidden;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      padding: 30px;
    }
    @include media-breakpoint-up(xl) {
      padding: 70px 30px;
    }
  }

  &__line {
    position: absolute;
    left: 15px;
    top: 0;
    height: 100%;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      left: 30px;
      overflow: hidden;
      transition: all .8s ease;

      &.is-preanimated {
        padding-bottom: 0;
        height: 0;
        opacity: 0;
      }
    }
    @include media-breakpoint-up(xl) {
      left: 0;
   }
  }

  &__item {
    position: relative;
    padding-left: 20px;
    & + & {margin-top: 20px;}

    &:last-child:after {
        content:'';
        border-left: 1px solid rgba(#fff, .3);
        position: absolute;
        left: 0;
        bottom: 100%;
        margin-bottom: -5px;
        height: 9999px;
        display: block;
    }

    @include media-breakpoint-up(md) {
      padding-left: 40px;
      & + & {margin-top: 40px;}

      p {
        transition: all .5s ease;
      }

      .cdot {
        transition: all .5s ease;
      }

      &:last-child:after {transition: all .5s ease;}

      &.is-preanimated {
        p {
          opacity: 0;
          transform: translateX(10%);
        }

        .cdot {
          transform: scale(0);
        }

      }

      &.is-preanimated-line:after {
        transform: translateY(-30%);
        opacity: 0;
      }
    }


    .cdot {
      position: absolute;
      left: -6px;
      top: 5px;
    }
    &:hover {
      @include cdot-animated;
    }
  }
}
