.map {
  background-color: #000;
  padding: 40px 30px;

  &__header {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__content {
    position: relative;
    height: 300px;
    @include grayscale;

    @include media-breakpoint-up(md) {
      height: 500px;
    }

    & > div {
      @include absolute;
    }
  }

  &__footer {
    padding-top: 30px;
    text-align: center;

    h3 {font-weight: normal; margin-bottom: 5px;}
  }

  &__heading {
    @include media-breakpoint-down(sm) {
      span {font-size: 1.2em ; display: block;}
    }
  }
}
