.masonry {
  background-color: #000;
  padding: 30px 15px;

  @include media-breakpoint-up(md) {
    padding: 30px;
  }

  &__text {margin-bottom: 30px;}

  &__body {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -3px;
    }
    @include media-breakpoint-up(md) {
      position: relative;
      padding-bottom: 75%;
    }


    //animation
    @include media-breakpoint-up(md) {
      &.is-transition-enabled {
        .masonry__item {transition: all 2s ease-out;}
      }

      &.is-preanimated {
        .masonry__item {
          opacity: 0;

          &:nth-child(1) { transform: translateX(-100%); }
          &:nth-child(2) { transform: translateY(-100%); }
          &:nth-child(3) { transform: translateX(100%); }
          &:nth-child(4) { transform: translateY(100%); }
          &:nth-child(5) { transform: scale(0); }
          &:nth-child(6) { transform: scale(0); }
          &:nth-child(7) { transform: translateY(100%); }
          &:nth-child(8) { transform: translateX(100%); }
        }
      }
    }
  }

  &__item {

    @include media-breakpoint-down(sm) {
      flex-basis: 33.3%;
      max-width: 33.3%;
      padding: 3px;
    }
    @include media-breakpoint-down(xs) {
      flex-basis: 50%;
      max-width: 50%;
    }
    @include media-breakpoint-up(md) {
      position: absolute;
      height: 33.333%;
      padding: 0 0 5px 5px;


      &:nth-child(1) {
        top: 0;
        left: 0;
        width: 50%;
      }

      &:nth-child(2) {
        top: 0;
        left: 50%;
        width: 25%;
      }

      &:nth-child(3) {
        top: 0;
        left: 75%;
        width: 25%;
        height: 66.666%;
      }
      &:nth-child(4) {
        left: 0;
        top: 33.333%;
        width: 25%;
        height: 66.666%;
      }
      &:nth-child(5) {
        left: 25%;
        top: 33.333%;
        width: 25%;
      }
      &:nth-child(6) {
        left: 50%;
        top: 33.333%;
        width: 25%;
      }
      &:nth-child(7) {
        left: 25%;
        top: 66.666%;
        width: 50%;
      }
      &:nth-child(8) {
        left: 75%;
        top: 66.666%;
        width: 25%;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 100%;


    img {
      @include absolute;
      object-fit: cover;
      transition: all 2s ease-out;
    }

    @include media-breakpoint-up(md) {
      height: 100%;
      padding-bottom: 0;

      &::after, &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 3px solid transparent;
      }
      &::before {
        top: -2px;
        left: 0;
      }

      &::after {
        bottom: -2px;
        right: 0;
      }


      &:hover {
        &::after,
        &::before {
          width: 100%;
          height: 100%;

          width: calc(100% + 2px );
          height:calc( 100% + 2px );
          z-index: 2;
        }
        &::after {
          border-right-color: $brand-primary;
          border-top-color: $brand-primary;
          transition: height .5s ease-out,   width .5s ease-out .5s;
        }
        &::before {
          border-left-color: $brand-primary;
          border-bottom-color: $brand-primary;
          transition:border-color 0s ease-out 1s,  height .5s ease-out 1s,   width .5s ease-out 1.5s;
        }

        img {transform: scale(1.2); }
      }
    }
  }


}
