.overlay {
  @include absolute;
  visibility: hidden;
  overflow: hidden;

  &__item {
    position: absolute;
    width: 100%;
    height: 100%;

    &--white {background-color: #fff;}
    &--black {background-color: $dark-transparent}
    &--green {background-color: rgba($brand-primary, .5);}
  }

}
