.photo-slider {
  padding: 30px 15px;
  background-color: $brand-primary;

  @include media-breakpoint-up(md) {
    padding: 30px;
  }

  &__heading {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__img {
    position: relative;
    padding-bottom: 66.5%;

    div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    img {width: 100%; height: 100%; object-fit: contain;}
  }

  &__body {
    position: relative;

    @include media-breakpoint-up(lg) {
      max-width: 80%;
      margin: 0 auto;
    }

  }

  // &__slider {  }

  &__desc {
    text-align: center;
    padding: 0 15px;
    flex-grow: 1;
  }

  &__caption {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(#000,.5);
  }

  &__nav {
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -22px;

    &--prev {left: 15px;}
    &--next {right: 15px;}
  }
}

.slick-disabled {visibility: hidden;}
