.preloader {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: url('../images/bg-paper-pattern.jpg') repeat;
  transition: all .5s ease;

  &__svg {
    @include absolute-center;
  }

  &__adash {opacity: 0;}

  .is-preloader-visible &{
    opacity: 1;
    visibility: visible;
  }
}

&.is-preloader-visible {
  overflow: hidden!important;
}
