.projects {
  @include absolute;
  visibility: hidden;
  overflow: hidden;
  z-index: 10;

  &__body {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: $dark-transparent;
    visibility: visible;
    z-index: 2;
    transform: translateX(-100%);
    overflow: auto;

    @include media-breakpoint-up(md) {
      width: 212px;
      border-right: 3px solid $brand-primary;
      // width: 337px;
    }
    @include media-breakpoint-up(lg) {
      // width: 212px;
    }

    &.is-animated {
      transform: none;
    }
  }


  &__list {
    position: relative;
    min-height: 100%;
    padding: 80px 15px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include landscape-down(sm) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__all {
    position: absolute;
    left: 0;
    width: 100%;
    padding:0 15px;
    bottom: 20px;

    @include media-breakpoint-up(md) {
      padding:0 20px;
      bottom: 30px;
    }

    @include media-breakpoint-up(lg) {
      padding:0 30px;

      .btn {display: block;}
    }
  }

  &__item {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 50%;
    border:1px solid #fff;
    transform-origin: 0 0;


    @include landscape-down(sm) {
      width: 30%;
    }

    @include portrait-down(sm) {
      & + & {margin-top: 20px;}
    }

    @include media-breakpoint-up(md) {
      border:2px solid #fff;
      // width: 240px;
      width: 152px;

      & + & {margin-top: 20px;}
    }

    @include media-breakpoint-up(lg) {
      width: 152px;

      .is-desktop & {
        transition: all .4s ease-in-out;
        border:2px solid transparent;

        &:hover {
          border-color: #fff;
          transform: scale(1.05);
        }
      }
    }

    @media (max-height: 900px) {
      &:nth-child(n+4)  {display: none;}
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__title {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: $dark-transparent;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      // font-size: 24px;
      .is-desktop & {
        opacity: 0;
        overflow: hidden;
        transition: opacity .4s ease-in-out;

        &:hover  {opacity: 1;}
      }
    }

    @include media-breakpoint-up(lg) {
      font-size: 14px;
    }

  }

  &__close {
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 20;
    transform: translateX(200%);
    visibility: visible;

    &.is-animated {
      transform: none;
    }

    @include media-breakpoint-up(md) {
      right: 20px;
    }

    @include media-breakpoint-up(lg) {
      top: 30px;
      right: 30px;
    }

  }



  &__overlay {

    .overlay__item {
      visibility: visible;
      left: 0;
      top: 0;
      transform: translateX(-100%);
    }
  }

}



// projects open state
.is-projects-open {
  // hidden blocks when projects is open
  .menu__open,
  .cover__item:not(.cover__item--center-top) {
    opacity: 0;
    visibility: hidden;
  }

  .overlay__item--white { transform: translateX(100%);}

  .projects__body,
  .projects__close {transform: none;}

}


// projects animation
// animation for mobile
// 1 white overlay
// 2 hide cover items not top center and menu
// 3 projects close and body
$projects-mobile-timing : .8s;
@include media-breakpoint-down(sm) {
  // close transition timing
  .is-projects-transition {
    .projects__body,
    .projects__close {transition: all $projects-mobile-timing/2 linear}

    .menu__open,
    .cover__item:not(.cover__item--center-top) {transition: all $projects-mobile-timing/4 linear $projects-mobile-timing/4;}

    .overlay__item--white { transition: all $projects-mobile-timing linear;}
  }

  // open transition timing and transforms
  .is-projects-open {
    .overlay__item--white {
      transition: all $projects-mobile-timing linear;
    }

    .projects__body,
    .projects__close {
      transform: none;
      transition: all $projects-mobile-timing/2 linear $projects-mobile-timing/2;
    }
  }
};

// animation for desktop
// 1 white overlay
// 2 hide cover items not top center and menu
// 3 green and black overlays
// 4 projects close and body
$projects-timing : .8s;
@include media-breakpoint-up(md) {
  // close transition timing
  .is-projects-transition {

    .projects__overlay  {
      .overlay__item--green {
        transition: all $projects-timing linear;
      }
      .overlay__item--black {
        transition: all $projects-timing/2 linear;
      }
      .overlay__item--white {
        transition: all $projects-timing linear $projects-timing/2;
      }
    }

    .projects__body,
    .projects__close {
      transition: all $projects-timing/2 linear $projects-timing/2;
    }

    .menu__open,
    .cover__item:not(.cover__item--center-top) {
       transition: all .1s linear $projects-timing;
    }

  }

  // open transition timing and transforms
  .is-projects-open {

    .projects__overlay  {
      .overlay__item--white {
        transition: all $projects-timing linear;
      }
      .overlay__item--green {
        transform: translateX(100%);
        transition: all $projects-timing linear $projects-timing/2;
      }
      .overlay__item--black {
        transform: translateX(0%);
        transition: all $projects-timing/2 linear $projects-timing/2;
      }
    }

    .menu__open,
    .cover__item:not(.cover__item--center-top) {
       transition: all .1s linear $projects-timing/2;
    }

    .projects__body,
    .projects__close {
      transition: all $projects-timing/2 linear $projects-timing;
    }
  }
};
