.project {
  background-color: #000;
  padding: 0 15px 30px;

  @include media-breakpoint-up(md) {
    padding: 0 30px 30px;
  }

  &__header{
    border-left: 1px dashed #999;
    padding: 40px 0 40px 40px ;
  }

  &__tags {
    position: relative;
    padding-bottom: 10px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: -30px;
      border-bottom: 1px solid #999;
    }
  }

  &__tag {
    color: #999;
    display: inline-block;
    transition: color .4s;

    &:not(:last-child):after {
      color: #999!important;
      content: '|';
      margin: 0 5px;
    }

    &:hover {
      color: #fff;
    }
  }

  &__content {
    @include media-breakpoint-up(md) {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }
  }

  &__image {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      max-width: 40%;
      flex-basis:40%;
      margin-bottom: 0;
    }
  }

  &__desc {
    @include media-breakpoint-up(md) {
      padding-left: 20px;
      flex-basis: 60%;
      max-width: 60%;
    }
   }

  &__info {
    margin-bottom: 30px;
    p {margin-bottom: 10px;}
  }

  // animation
  @include media-breakpoint-up(md) {
    &.is-transition-enabled {
      .project__header {transition:  1s}
      .project__info,
      .project__image {transition: all 2s ease 1s}
      .project__text {transition: all 2s ease 1.3s}
    }

    &.is-preanimated {
      .project__header {
        transform: translateY(-10%);
        opacity: 0;
      }

      .project__image {
        opacity: 0;
        transform: translateY(-10%);
      }

      .project__text,
      .project__info {
        opacity: 0;
        transform: translateX(100%);
      }
    }
  }
}
