.rewards-short {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;


  &__title {
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__text {
    overflow: hidden;
    flex-grow:1;
    text-align: right;
    line-height: 14px;
    color: #999;
    font-size: 14px;
    padding-right: 30px;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 240px ;
    }

    p {
      margin-bottom: 5px;
      line-height: 14px;
      max-height: 42px;
      overflow: hidden;

      @include media-breakpoint-up(lg) {
        margin-bottom: 10px;
      }

      &:last-child {margin-bottom: 0;}
    }
  }

  &__image {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    width: 70px;
    line-height: 0;

    & + & {
      margin-left: 15px;
    }

    @include media-breakpoint-up(md) {
      width: 94px;

      & + & {
        margin-left: 20px;
      }
    }
  }
}
