.scrollup {
  margin-top: 10px;

  .btn {
    transition: all .5s ease;
    
    .is-menu-open &,
    &.is-invisible {
      transform: translateY(-5px);
      opacity: 0;
      visibility: hidden;
    }
  }
}
