.slider {
  &__slide {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    z-index: 10;

    &.prev {
      .overlay__item {
        left: 0;
        top: 0;
        transform: translateX(-100%);}
    }

    &.next {
     .overlay__item {
       right: 0;
       top: 0;
       transform: translateX(100%);
     }
    }


    &.is-animated {
      visibility: visible;

      .overlay__item--black {
        transition: transform 1s ease-out;
      }
      .overlay__item--green {
        transition: transform 1s ease-out .35s;
      }

      .overlay__item {transform: none;}
    }


    //for demo remove for prod
    &.is-animated.slow {
      .overlay__item--black {
        transition: transform 1.5s ease-out;
      }
      .overlay__item--green {
        transition: transform 1s ease-out .6s;
      }
    }

    &.is-animated.normal {
      .overlay__item--black {
        transition: transform 1s ease-out;
      }
      .overlay__item--green {
        transition: transform .7s ease-out .35s;
      }
    }

    &.is-animated.fast {
      .overlay__item--black {
        transition: transform .7s ease-out;
      }
      .overlay__item--green {
        transition: transform .5s ease-out .35s;
      }
    }

  }
}
