.social {
  letter-spacing: -.3em;
  white-space: nowrap;

  &__item {
    letter-spacing: 0;

    &+& {margin-left: 10px;}
  }

  &--dark {
    position: relative;
    display: inline-block;

    .social__item {
      color: #000;
      border-color: rgba(#000, .3);

      &:hover {
        border-color: rgba(#000, .8);
      }
    }

    &:after {
      content:'';
      position: absolute;
      left: 100%;
      top: 0;
      margin-left: 30px;
      width: 400px;
      border-top: 2px solid #000;
    }
  }
}
