.year {
  &__header {
    position: relative;
    text-align: right;
    width: 190px;
    padding-right: 20px;
    border-bottom: 1px solid rgba(#fff, .3);
    margin:0 auto 15px;

    @include media-breakpoint-up(md) {
      margin: 0;
      margin-bottom: 50px;
    }

    p {
      display: inline;
      font-weight: 900;
      font-size: 40px;
      line-height: 36px;
      margin-bottom: 0;
    }
    span {
      position: absolute;
      right: -10px;
      bottom: 10px;
      font-size: 14px;
      display: inline-block;
      transform: rotate(-90deg);
    }
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      text-align: left;
      max-width: none;
      margin: 0;
    }
  }


  @include media-breakpoint-up(md) {
    .year__header {
      transition: all .8s ease;
    }
    .year__text {
      transition: all .8s ease-out .8s;
    }
    &.is-preanimated {
      .year__text,
      .year__header {
        opacity: 0;
        transform: translateY(-50px)
      }
    }
  }
}
