.youtube {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all .4s ease;
  opacity: 0;
  visibility: hidden;
  transform-origin: 50% 50%;
  transform: scale(.6);
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__overlay {
    @include absolute;
    z-index: 1;
    background-color: rgba(#000,.9);
  }

  iframe {
    border: 0;
    @include absolute;
    z-index: 1;
  }

  &__close {
    position: absolute;
    right: 30px;
    top: 50px;
    z-index: 2;
  }

  .is-youtube-open & {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}
